<div class="registration p-4">
  <p>Info of user</p>
  <div id="usercard"> <!--Карта профиля, человека, который к нам обратился-->
  </div>
  <h2 class="text-center title my-5">Регистрация</h2>
  <form class="registration-form" [formGroup]="registrationForm">
    <input class="form-control" type="text" name="language" id="language" formControlName="language_code" placeholder="Язык" required>
    <input class="form-control" type="text" name="name" id="name" formControlName="name" placeholder="Имя" required>
    <input class="form-control" [ngClass]="{'error': formErrors.telephone}" type="number" name="phone" id="phone" formControlName="telephone" placeholder="Телефон" (blur)="phoneValidationErrors()">
    <span class="error-text" *ngIf="formErrors.telephone">Обязательное поле</span>
    <button class="btn-style w-100 mt-4" (click)="submit(registrationForm.value)">Отправить</button>
  </form>
</div>


<script>
  let tg = window.Telegram.WebApp; //получаем объект webapp телеграма

  tg.expand(); //расширяем на все окно

  Telegram.WebApp.onEvent('mainButtonClicked', function(){
    tg.sendData("some string that we need to send");
    //при клике на основную кнопку отправляем данные в строковом виде
  });


  let usercard = document.getElementById("usercard"); //получаем блок usercard

  let profName = document.createElement('p'); //создаем параграф
  profName.innerText = `${tg.initDataUnsafe.user.first_name}
   ${tg.initDataUnsafe.user.last_name}
   ${tg.initDataUnsafe.user.username} (${tg.initDataUnsafe.user.language_code})`;
  //выдем имя, "фамилию", через тире username и код языка
  usercard.appendChild(profName); //добавляем

  let userid = document.createElement('p'); //создаем еще параграф
  userid.innerText = `${tg.initDataUnsafe.user.id}`; //показываем user_id
  usercard.appendChild(userid); //добавляем


  //работает только в attachment menu
  // let pic = document.createElement('img'); //создаем img
  // pic.src = tg.initDataUnsafe.user.photo_url; //задаём src
  // usercard.appendChild(pic); //добавляем элемент в карточку
</script>
